body {
    background-color: rgb(113, 175, 219);
    margin-top: 110px;
    background-position: center;
}

button {
    height: 35px;
    width: 250px;
    border-radius: 50px;
    background-color: rgb(47, 108, 239);
    color: white;
}

fieldset {
    background-color: azure;
    width: fit-content;
    border-radius: 20px;
}

p1 {
    font-family: kanit;
    font-size: medium;
}

input {
    height: 35px;
    width: 270px;
    border-radius: 10px;
}